[global]
repo1-type=gcs
repo1-gcs-bucket=backups-{{ gcp_project_id }}
repo1-gcs-key-type=auto
repo1-path=/pgbackrest
repo1-retention-full=2
repo1-retention-diff=7
compress-type=zst
compress-level=3
process-max=2

[main]
pg1-path=/var/lib/postgresql/18/main
