DATABASE_URL={{ pilot_database_url }}
GOOGLE_PROJECT_ID={{ gcp_project_id }}
ANTHROPIC_API_KEY={{ pilot_anthropic_api_key }}
PUBSUB_SUBSCRIPTION={{ pilot_pubsub_subscription }}
PUBSUB_TOPIC={{ pilot_pubsub_topic }}
